In [1]:
a=5

In [1]:
1+2

3

In [2]:
5*5

25

In [3]:
5/3

1.6666666666666667

In [4]:
5-4

1

In [5]:
0.1+0.2-0.3

5.551115123125783e-17

In [6]:
2**53

9007199254740992

In [2]:
a

5

In [3]:
a = 10

In [4]:
a

10

In [5]:
a + a

20

In [10]:
a = a + a

In [11]:
a

160

In [12]:
type(a)

int

In [13]:
a = 3.0

In [14]:
type(a)

float

In [15]:
my_income = 100

In [16]:
my_taxrate = 0.1

In [17]:
my_tax = my_income * my_taxrate

In [18]:
my_tax

10.0

In [1]:
a

NameError: name 'a' is not defined

In [2]:
'hello'

'hello'

In [3]:
"world"

'world'

In [4]:
' I'am loonatic ''

SyntaxError: invalid syntax (<ipython-input-4-8507b9fa90dc>, line 1)

In [5]:
" I'am loonatic "

" I'am loonatic "

In [6]:
print('hello')

hello

In [7]:
print("world")

world

In [8]:
hello world one
hello world two

SyntaxError: invalid syntax (<ipython-input-8-7c23eeb13dc7>, line 1)

In [9]:
"hello world one"
"hello world two"

'hello world two'

In [11]:
print("hello world one")
print("hello world two")

hello world one
hello world two

In [12]:
print("hello \n world")

hello
 world

In [13]:
print("hello \nworld")

hello
world

In [14]:
print("hello \tworld")

hello 	world

In [15]:
print("hello \nt world")

hello
t world

In [16]:
print("hello \n\t world")

hello
	 world

In [17]:
print("hello \t\n world")

hello
 world

In [18]:
len("tytus romus i atomus")

20

In [19]:
len('to ja')

5

In [1]:
mystring = "Hello World"

In [2]:
mystring

'Hello World'

In [3]:
mystring[0]

'H'

In [4]:
mystring[7|]

SyntaxError: invalid syntax (<ipython-input-4-8e4da31ed9cf>, line 1)

In [5]:
mystring[7]

'o'

In [6]:
mystring[8]

'r'

In [7]:
len("Hello World")

11

In [8]:
mystring[-11]

'H'

In [9]:
mystring

'Hello World'

In [26]:
mystring = "abcdefghijk"

In [11]:
mystring

'abcdefghijk'

In [12]:
mystring[2:]

'cdefghijk'

In [13]:
mystring[:3]

'abc'

In [14]:
mystring[:0]

''

In [15]:
mystring[3:6]

'def'

In [16]:
# for bc:

In [17]:
mystring[1:3]

'bc'

In [18]:
#its till 4 letter in the string (0,1,2,3) but excluding 4th one (3) in this case "d"

In [19]:
mystring[::]

'abcdefghijk'

In [20]:
mystring[::2]

'acegik'

In [21]:
mystring[3:5:2]

'd'

In [22]:
mystring[3:11:2]

'dfhj'

In [29]:
# mystring[ od do co_ile] [start stop step_size]

In [27]:
# : wszystkie znaki "od" : wszystkie znaki "do"

In [28]:
mystring[::]

'abcdefghijk'

In [30]:
mystring[::-1]

'kjihgfedcba'

In [31]:
# Section 3 Lecture 16

In [32]:
name = "Sam"

In [33]:
name[0] = "P"

TypeError: 'str' object does not support item assignment

In [34]:
last_letters = name[1:]

In [35]:
last_letters

'am'

In [36]:
'P' + last_letters

'Pam'

In [37]:
x = "Hello World"

In [39]:
x + "it is beautyfull outside"

'Hello World it is beautyfull outside'

In [40]:
x + " it is beautyfull outside"

'Hello World it is beautyfull outside'

In [41]:
# we added "space" between " and "it" so there is space after adding 2 sentences

In [46]:
x = x + "it is beautyfull outside"

In [47]:
x

'Hello Worldit is beautyfull outsideit is beautyfull outsideit is beautyfull outside'

In [48]:
letter = 'z'

In [49]:
10 * letter

'zzzzzzzzzz'

In [50]:
letter * 10

'zzzzzzzzzz'

In [51]:
2 + 3

5

In [52]:
'2' + '3'

'23'

In [53]:
x = "Hello World"

In [54]:
x.upper()

'HELLO WORLD'

In [55]:
x

'Hello World'

In [56]:
x.upper ()

'HELLO WORLD'

In [57]:
x.lower()

'hello world'

In [58]:
x.split()

['Hello', 'World']

In [59]:
x = "Hi this is a string"

In [60]:
x.split()

['Hi', 'this', 'is', 'a', 'string']

In [61]:
x.split('i')

['H', ' th', 's ', 's a str', 'ng']

In [62]:
print('hello')

hello

In [63]:
my_name = "Pawel"

In [64]:
print("Hello" + my_name)

HelloPawel

In [65]:
print("Hello " + my_name)

Hello Pawel

In [66]:
# Section 3 Lecture 18

In [67]:
print("This is a string {}".format('INSERTED'))

This is a string INSERTED

In [68]:
print("The {} {} {}".format('fox','brown','quick'))

The fox brown quick

In [69]:
print("The {2} {1} {0}")

The {2} {1} {0}

In [70]:
print("The {2} {1} {0}".format('fox','brown','quick'))

The quick brown fox

In [71]:
print("The {0} {0} {0}")

The {0} {0} {0}

In [72]:
print("The {0} {0} {0}".format('fox','brown','quick'))

The fox fox fox

In [73]:
print("The {q} {b} {f}".format(f='fox',b='brown',q='quick'))

The quick brown fox

In [74]:
print("The {f} {f} {f}".format(f='fox',b='brown',q='quick'))

The fox fox fox

In [75]:
result = 100/777

In [76]:
result

0.1287001287001287

In [79]:
print("The result was {}".format(result))

The result was 0.1287001287001287

In [80]:
print("The result was {r}".format(r=result))

The result was 0.1287001287001287

In [82]:
# Float formating follows
# "{value:width.precision f}"

In [89]:
print("The result was {r:20.2f}".format(r=result))

The result was                 0.13

In [92]:
name = "Pawel"

In [93]:
name

'Pawel'

In [95]:
print("Hello, his name is {}".format(name))

Hello, his name is Pawel

In [96]:
# IS THE SAME AS:

In [97]:
print(f"Hello, his name is {name}")

Hello, his name is Pawel

In [98]:
name = "Sam"

In [99]:
age = 11

In [100]:
print(f"{name} is {age} years old")

Sam is 11 years old

In [101]:
:d

SyntaxError: invalid syntax (<ipython-input-101-929f0cccdb2e>, line 1)

In [102]:
d

NameError: name 'd' is not defined